body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

#studentForm {
    display: flex;
    flex-direction: row; 
    width: 300px;
    margin: 20px auto;
    margin-left: 30px;
}

#studentForm input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


#studentForm button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

#studentForm button:hover {
    background-color: #0056b3;
}

#studentTable {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}

#studentTable th, #studentTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#studentTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#studentTable tr:hover {
    background-color: #ddd;
}

#studentTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #007BFF;
    color: white;
}